{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('login')}}">
                <div class="form-group">
                    <label for="ExampleInputEmail">Email</label><br>
                    <input type="text" class="form-control" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="ExampleInputPassword">Password</label><br>
                    <input type="password" class="form-control" name="pass" placeholder="password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <br>
            <div>
                Don't have ac account? <a href="{{ url_for('register')}}">Sign up here</a><div class=""></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}